* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2) format('woff2');
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header */

header {
    font-family: 'Bebas Neue';
    position: fixed;
    top: 0px;
    width: 100%;
}

h1 {
    color: #FAF8ED;
    background-color: #3F1D38 ;
    font-size:60px;
    text-align: center;
    padding: 20px 0px;
}

#navbar a {
    color: #FAF8ED;
    background-color: #4D3C77;
    font-size: 25px;
    text-align: center;
    display: inline;
    float: left;
    width: 33.3%;
    padding: 10px 0px;
}

#navbar a:hover {
    color:#E19898;
}

#breadcrumb a {
    color: #4D3C77 ;
    background-color: #FAF8ED;
    text-align: center;
    text-decoration: none;
    display: inline;
    float: left;
    width: 25%;
    height: 25px;
    padding: 10px 0px;
}

#breadcrumb li+li :before {
    content: ">";
    padding: 30px;
}

#breadcrumb a:hover {
    color: #E19898;
}

#current a {
    color: #E19898;
}





